@import "tailwindcss";

/* Custom styles can go here */

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(32px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.animate-fade-in {
	opacity: 1 !important;
	transform: translateY(0) !important;
}

.animate-scroll {
	animation: scroll 15s linear infinite;
}

.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
